*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.btn1{
    border: 0;
    width: 14px;
    height: 14px;
    display: block;
    background-color: #f1ff69;
    margin-bottom: 20px;
    position: relative;
}
.btn{
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.btn1 span{
    background-color: #02c6ff;
    font-size: 12px;
    border: 1px solid #f1ff69;
    padding: 2px;
    position: absolute;
    top: 0;
    right: -60px;
    opacity: 0;
    transition: all 0.4s;
}
.btn1:hover span{
    opacity: 1;
    right: 20px;
}
.active1{background-color: #000;}
.active1 span{
    opacity: 1;
    right: 20px;
}
section{
    height: 100vh;
}

.header{
}
.hWrap{
    width: 1320px;
    margin: 0 auto;
    position: relative;
    
}
.gnbBox{
    display: flex;
    width: 100%;
}
.gnbBox .box{
    width: 238px;
    height: 84px;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 40px;
}
.gnbBox .box1{
    background-color: lemonchiffon;
}
.gnbBox .box2{
    background-color: #f1ff69;
}
.gnbBox .box3{
    background-color: #d1ff6c;
}
.gnbBox .box4{
    background-color: #6effb6;
}
.gnbBox .box5{
    background-color: #71fff8;
}
.close{
    padding-top: 50px;
    width: 100%;
    height: 800px;
    background-color: gold;
    position: relative;
    top: -100px;
    left: 0;
    transition: all 2s linear;
    
}
.close div{
    text-align: center;
    padding-top: 200px;
    
}
.file{
    width: 424px;
    height: 302px;
    position: relative;
    z-index: 25;
    animation: logo1 0.8s ease-out infinite alternate;
}
@keyframes logo1{
    0%{
        transform:translateY(0);
    }
    100%{
        transform:translateY(-20px);
    }
}
.close .ai{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 100px;
    left: 300px;
}
.close .ps{
    width: 88px;
    height: 88px;
    position: absolute;
    top: 250px;
    left: 200px;
}
.close .pr{
    width: 98px;
    height: 98px;
    position: absolute;
    top: 95px;
    right: 250px;
}
.close .ae{
    width: 66px;
    height: 66px;
    position: absolute;
    top: 300px;
    right: 180px;
}
.close .cBox{
    width: 700px;
    position: absolute;
    top: 400px;
    left: 300px;
    background-color: #fffedd;
}
.open{
    position: absolute;
    top: 100px;
    left: 0;
    width: 1320px;
    background-color: #fdf2dd;
    height: 800px;
    border-radius: 25px;
    display: none;
    
}
/*
    포트폴리오 철자 수정Portfolio    
*/
.open h1{
    text-align: center;
    padding-top: 100px;
    animation: h1 0.8s ease-out infinite alternate;
}
@keyframes h1{
    0%{
        transform:translateY(0);
    }
    100%{
        transform:translateY(-20px);
    }
}
.open div{
    text-align: center;
    padding-top: 150px;
    
}
.open .mOpen{
    width: 292px;
    height: 260px;
    position: relative;
    z-index: 25;
}
.open .bBox{
    margin: 0 auto;
    width:600px;
    position: absolute;
    top: 500px;
    left: 390px;
    background-color: #fffedd;
}

.profile{
    width: 1320px;
    margin: 0 auto;
}
.pWrap{
    border-radius: 25px;
    background-color:#fffedd;
    height: 800px;
    position: relative;
    top: -20px;
    left: 0;
}
.profile .box{
    width: 238px;
    height: 84px;
    border-radius: 25px;
    margin-left: 20px;
    background-color: #f1ff69;
    color: #9c9c9c;
    font-size: 46px;
    font-family: Impact;
    text-align: center;
    padding-top: 10px;
}
.info{
    font-size: 16px;
    color: #9c9c9c;
    position: absolute;
    top: 200px;
    left: 160px;
    

}
.info li{
    padding-top: 10px;
    text-decoration: underline;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    
}
.info li:last-child{
    text-decoration: none;
}

.foto .fotoB{
    margin: 0 auto;
    width: 320px;
    height: 460px;
    background-color: #ffeac0;
    border-radius: 50%;
}
.foto img{
    padding-top: 120px;
}
.skil{
    position: absolute;    
    top: 200px;
    right: 250px;
}
.imgBox .Rbox{
    position: absolute;
    top: -30px;
    left: -10px;
    
}
.rWrap{
    display: flex;
    width: 180px;
    flex-wrap: wrap;
}

.rWrap1{
    margin-top: 10px;
    display: flex;
    width: 180px;
    flex-wrap: wrap;
}
.rWrap2{
    display: flex;
    width: 150px;
    flex-wrap: wrap;
    margin-top: 15px;
}
.Rbox .round{
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #6effb6;
    margin-left: 40px;
    margin-bottom: 60px;
    font-size: 16px;
    color: #9c9c9c;
    

}

.skil .imgBox {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    flex-wrap: wrap;
    position: relative;
}

.skil img{
    width: 50px;
    height: 40px;
    padding-left: 20px;
}

.skil .Ppro{
    width: 150px;
}
.skil .pB span{
    display: block;
    width:0;
    height: 10px;
    background-color: #6effb6;
    margin-bottom: 50px;
    margin-left: 20px;
    transition: all 1s;
}

.skil .pB:nth-child(1) .bar.on{
    width: 86%;
    
}

.skil .pB:nth-child(2) .bar.on{
    width: 87%;
    
}

.skil .pB:nth-child(3) .bar.on{
    width: 83%;
    
}

.skil .pB:nth-child(4) .bar.on{
    width: 88%;
    
}

.skil .pB:nth-child(5) .bar.on{
    width: 90%;
    
}


.skil .pB .proBar{
    width: 150px;
    margin-left: 22px;
}
.skil .pB .pae{
    width: 55px;
}
.skil2 p{
    text-align: left;
    margin-left: -35px;
    font-size: 20px;
    color: #02c6ff;
    font-weight: normal;
    position: relative;
    margin-bottom: 20px;
}
.Gbox{
    position: absolute;
    top: 315px;
    left: 60px;
    color: #fff;
    font-size: 14px;
    text-align: right;
}

.Gbox .hBox{
    display: block;
    width: 155px;
    height: 15px;
    background-color: #02c6ff;
    margin-bottom: 30px;
    margin-left: -40px;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-name: hBox;    
    padding-bottom: 5px;
    animation-delay: 1s;
}
@keyframes hBox{
    0%{width:0;}
    100%{width: 100;}
}

.Gbox .cBox{
    display: block;
    width: 175px;
    height: 15px;
    background-color: #02c6ff;
    margin-bottom: 30px;
    margin-left: -60px;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-name: cBox; 
    padding-bottom: 5px;
    animation-delay: 1s;
}
@keyframes cBox{
    0%{width:0;}
    100%{width: 100;}
}
.Gbox .jBox{
    display: block;
    width: 50px;
    height: 15px;
    background-color: #02c6ff;
    margin-left: -4px;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-name: jBox; 
    padding-bottom: 5px;
    animation-delay: 1s;
}
@keyframes jBox{
    0%{width:0;}
    100%{width: 100;}
}

#wrap{
    width: 1320px;
    margin: 0 auto;
    
}
.gallery{
    
}
.gallery .gGnb{
    display: flex;
}
.gallery .gGnb li{
    color: #9c9c9c;
    font-size: 46px;
    font-family: Impact;
    text-align: center;
    padding-top: 10px;
    font-size: ;
    width: 238px;
    height: 84px;
    border-radius: 25px;
    margin-left: 20px;
}
.gallery .gGnb .gl{
    background-color: #d1ff6c;
}
.gallery .gGnb .ba{
    background-color: #e4ffaa;
}
.gallery .gGnb .il{
    background-color: #ecffc2;
}
.con{
   position: relative;
    
}
.mainG{
    height: 800px;
    border-radius: 25px;
    background-color: #ffdeb6;
    top: -20px;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 3;
    position: absolute;
    left: 0;
    top:-20px;
    width: 100%;

}
.G1{
    width: 31%;
}
.thumb{
   margin-left: 50px;
   transition: all 2s linear;
}
.thumb:hover img{
    width: 346px;
    height: 462px;
}
.G1 .txt{
    text-align: left;
    margin-left: 50px;
    
}
.G1 .txt h2{
    font-size: 16px;
    color: #9c9c9c;
    font-weight: normal;
}
.G1 .txt p{
    font-size: 14px;
    color: #9c9c9c;
    font-weight: normal;
}
.detail{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
    z-index: 6;
}
figure{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    z-index: 3;
}
figure img{
    width: 100%;
}
.closeBtn{
    border: 0;
    background: transparent;
    color: #fff;
    font-style: italic;
    text-decoration: underline;
    position: absolute;
    top: 20px;
    right: 30px;

}
.closeBox{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
figure iframe{
    width: 100%;
}
.context{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
}
.banner{
    height: 800px;
    width: 1320px;
    margin: 0 auto;
    background-color: #ffdeb6;
    border-radius: 25px;

    position: absolute;
    left: 0;
    top:-20px;
    width: 100%;
}
.sld1{
    padding-top: 100px;
}
.sld1 div{
    width: 1100px;
    margin: 0 auto;
}
.sld1 img{
    width: 100%;
}
/*slick vertical*/
.illust{
    height: 800px;
    width: 1320px;
    margin: 0 auto;
    background-color: #ffdeb6;
    border-radius: 25px;
    position: absolute;
    left: 0;
    top:-20px;
    width: 100%;
}
.illust .sld2{
    padding-top: 150px;
    box-sizing: border-box;
}

.illust .sld2 div{
   
    margin-left: auto;
    margin-right: auto;
    width: 760px;
    height: 464px;
    background-color: #71fff8;

    
}
.illust .sld2 img{
    width: 100%;
    height: 100%;
}
.slick-dots{
    display: flex;
    list-style: none;
    justify-content: center;
}
.slick-dots li{
    margin: 0 20px;
}
.slick-dots li button{
    
    width: 20px;
    height: 20px;
    border: 0;
    background-color: teal;
    border-radius: 50%;
    font-size: 0;
}
.slick-dots li.slick-active button{
    background-color: tomato;
}
.web{
 
}

#wWrap{
    
    width: 1320px;
    margin: 0 auto;
}
.Wgnb{
    display: flex;
    
}
.Wgnb .box1{
    background-color: #6dffb6;
    width: 238px;
    height: 84px;
    border-radius: 25px;
    margin-left: 20px;
    color: #9c9c9c;
    font-size: 46px;
    font-family: Impact;
    text-align: center;
    padding-top: 10px;
    
}
.Wgnb .box2{
    background-color: #a8ffd3;
    width: 238px;
    height: 84px;
    border-radius: 25px;
    margin-left: 20px;
    color: #9c9c9c;
    font-size: 46px;
    font-family: Impact;
    text-align: center;
    padding-top: 10px;
}
.Wcon{
    
    position: relative;

}
.mainW{
    position: absolute;
    top: -20px;
    left: 0;
    height: 800px;
    background-color: #fed1c1;
    border-radius: 25px;
    z-index: 4;
    width: 1320px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}
.aWrap{
    width: 600px;
    margin: 100px auto;
   
}
.Wcon .aWrap div{
    
    border: 1px solid #fdf2dd;
    width: 200px;
    height: 150px;
    margin-bottom: 20px;
    position: relative;
}
    
.Wcon div img{
    width: 100%;
}
.Wcon div .lg{
    position: absolute;
    top: -40px;
    left: 70px;
    
}
.Wcon div .lg2{
    position: absolute;
    top: -40px;
    right: 70px;
}
.Wcon .aos1, .aos3 {
    margin-right: auto;
}
.Wcon .aos2{
    margin-left: auto;
}
.Wcon div .txt{
    color: #9c9c9c;
    font-size: 16px;
    font-weight: normal;
}
.mobile{
    position: absolute;
}
.mcon{
    
    width: 1320px;
    background-color: #fed1c1;
    margin: 0 auto;
    height: 800px;
    position: relative;
    top: -20px;
    left: 0;
    border-radius: 25px;
}
.mBox{
    
    padding-top: 200px;
    width: 50%;
    margin: 0 auto;
    
}
.mcon .vid{
    height: 370px;
    overflow: hidden;
    background-color: #000;
}
.mcon .er{
    color: #9c9c9c;
    font-size: 16px;
    margin-top: 10px;
}
.mcon .vid video{
    width: 100%;
}


.video{

}
.video .vWrap{
    width: 1320px;
    margin: 0 auto;
}
.video .tab{
    width: 1320px;
    height: 500px;
    background-color: #fdb9b9;
    border-radius: 25px;
    margin: 0 auto;
    position: relative;
    top: -20px;
    left: 0;
    padding: 160px 0;


}

.vGnb li{
    width: 238px ;
    height: 84px;
    border-radius: 25px;
    margin-left: 20px;
    background-color: #6ffcf5;
    color: #9c9c9c;
    font-family: impact;
    text-align: center;
    padding-top: 10px;
    font-size: 46px;
}
.tabWr{
    border: 5px solid #fed1c1;
    width: 900px;
    background-color: rgba(255,255,255,0.4);
    margin: 0 auto;
    border-radius: 25px;
    height: 100%;

    
}
.tabWr .vif{
    display: flex;
    width: 100%;
    border-radius: 25px;
    height: 100%;
    justify-content: center;

}

.tabWr .vif iframe{
    height: 100%;
    border-radius: 25px;
}

/*.tabWr video{
    width: 100%;
    border-radius: 25px;

}
*/
.videoList .key{
    display: none;
}
.tab ul{
    display: flex;
    justify-content: center;
}
.tab ul li{
    margin: 0 5px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 5px;
    line-height: 35px;
    padding: 0 15px;
}

.tab ul li.active{
    background-color: rgba(0,0,0,0.6);
    color: #fff;
}











